@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration 

.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.fieldset-{
border: 1px solid #f7f7f9;
border-radius: 4px 4px 0 0;
}
@media only screen and (max-device-width : 800px) {

	.wrapper {
		max-width: 800px !important;
		margin-left: 5px;
		padding-bottom: 16vh !important;
	}
	.linky {
		margin: 4px 4px 4px 4px !important;
		padding: 2px 2px 2px 2px !important;
		letter-spacing: 1px !important;
		border: 2px solid #fff;
	}
	.foot-nav {
		position:fixed;
		z-index: 3;
		top: 0px;
		right: 0px;
		background-color: #0e6635;
		text-align: center;
		width: 100%;
		height: 15vh;
	}
}
	#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e6635;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #128746;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #041b0e;
}




element.style {
}
.navbar-default {
    background-color: #3f51b5;
    border-color: #36469c;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


	.foot-nav {
	position:fixed;
	z-index: 3;
	top: 0px;
	right: 0px;
	background-color: #0e6635;
	text-align: center;
	width: 100%;
	height: 10vh;
}
    	.wrapper {
		margin-left: 10vw;
		margin-right: 10vw;
		padding-bottom: 11vh !important;
		max-width: 75vw !important;
	}
    .linky {
		margin: 4px 4px 4px 4px !important;
		padding: 2px 2px 2px 2px !important;
		letter-spacing: 1px !important;
		border: 4px solid #fff;
		background-color:#0e6635;
		font-size: 30px
	}
a, a:link {
    text-decoration:none;
    color: white;
	font-family:"Roboto";
	text-align:center;
	display: inline-block;
}
.linky {
	text-transform: uppercase;
	margin: 15px 5px 15px 5px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #fff;
	display: inline;
	letter-spacing: 1px;
	transition-property: color, background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	font-size: 30px
	font-family:"Roboto";
}
.linky:hover {
	transition-property: color, background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	color: #000;
	background-color: #fff;
	font-family:"Roboto";
}
.linky > a:hover
{
	color: #000 !important;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	font-family:"Roboto";
}
    
	.foot-nav {
	font-family:"Roboto";
	position:absolute;
	z-index: 3;
	top:0px;
	right: 0px;
	background-color: #0e6635 ;
	text-align: center;
	width: 100%;
	height:0;
}
	.font-effect-3d {
  text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
  color: #0e6635;}
}
        
        .selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:gold;
  border:1px solid;
}
.selectBoxLong{
  width:240px;
  height:40px;
  border:0px;
  outline:none;
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}
         i { 
			font-style: italic;
		}
        medium {
          font-size:24px;
        }
		.scoudr{
        	font-family: "Lora";
            color:white;
            text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
            font-size:300px
			} 
        h1 {
        	font-family: "Lora";
            color:white;
            text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
            font-size:75px
			}
		h2 {
		font-family: "Vast Shadow";	
		font-size:30px
		}
		h3 {
		font-family: "Lora";
		}
		h4 {
		font-family: "Lora";
		}
        ul {
        	font-family: "Lora";
            color: white;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        p{
          font-family: "Lora";
          color: white;
          }
		  p1{
			font-family:"Lora";
			margin left:2em;
			}
		 p2{
			font-family: "Lora";
			margin-left: 2em
			font-size:15px;
			}
    body {
		
	font-family: "Lora";
	background-color: rgb(14,3,16);
	color: #fff;
	font-size:16px;
	margin: 0px;
